<!-- flash->success partial  -->
<% if(success && success.length){ %> 
    <!-- This if condition is used taaki khaali alert na print ho webpage pe and success is an array to isliye use kiya hai taaki success ki length>0 ho tabhi alert aaye -->
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <!-- This button is to dismiss the alert -->
        <!-- alert-dismissible fade show - These classes were to form a dismissable alert -->

    </div>
<% } %>


<!-- flash->error partial  -->
<% if(error && error.length){ %> 
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
<% } %>