<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
<!-- sticky-top is used so that when we scroll in a website the navbar must not disappear -->

    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
          
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">List Your Home</a>
          <% if(!currUser){ %>
            <a class="nav-link" href="/signup"><b> SignUp </b></a>
            <a class="nav-link" href="/login"><b>Log In</b></a>
          <% } %>
          <% if(currUser){ %>
            <a class="nav-link" href="/logout">Log Out</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>

  <!-- currUser is the User that is currently logged in . It is defined as a local in app.js as we cannot directly use req.user in ejs -->